<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facetime</title>
    <script>
      const ROOM_ID =  "<%= roomId %>"
    </script>

    <!-- custom js file -->
    <script src="script.js" defer></script>

    <!-- socket js file -->
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="video-grid"></div>
  </body>
</html>
